a {
    color: green;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'IBM Plex Mono', Verdana, Arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 35em;
    margin: 0 auto;
    padding: 5px;
}

.quiet {
    color: #DDD;
    text-align: right;
}

input {
    font-family: 'IBM Plex Mono', Verdana, Arial, sans-serif;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    padding: 10px 10px;
    font-size: 16px;
    margin: 10px 0px;
    width: auto;
}

ul.errorlist {
    color: red;
    list-style: disclosure-closed;
}

#sitetitle {
    color: black;
    text-decoration: none;
}

small.id {
    color: #999;
}

footer {
    padding-top: 3em;
    padding-bottom: 1em;
}

footer a {
    text-decoration: none;
}