{% if user.instructor %}
<p>Instructor digs.</p>

<h3>Sections you Instruct:</h3>

<ol>
    {% for section in user.instructor.instructing_sections.all %}
    <li>{{ section.course.course_code }}-{{ section.section_code }}
        - <a href="{% url 'tms:courseinfo' section.course.id %}">course info</a>
        - <a href="{% url 'tms:sectioninfo' section.id %}">section {{section.section_code}} info</a>
    </li>
    {% endfor %}
</ol>

<b>Sections, Teams, Students:</b>

<ol>
    {% for blob in instructor_data %}
    <li>
        <b>{{blob.name}}</b>
        <br>Teams:
        <ol>
            {% for team in blob.teams %}
            <li><a href="{% url 'tms:teaminfo' team.id %}">{{team.team_name}}</a></li>
            <ul>
                {% for student in team.student_set.all %}
                <li>{{student.user.first_and_given_name}}</li>
                {% endfor %}
            </ul>
            {% endfor %}

        </ol>

        {% if blob.not_in_team.count > 0 %}
        <br>Students Without a Team:
        <ol>
            {% for student in blob.not_in_team %}
            <li>{{student.user.first_and_given_name}}</li>
            {% endfor %}

        </ol>
        {% endif %}
        <br />
    </li>
    {% endfor %}
</ol>

{% endif %}
