{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>InFlux</title>
    <meta charset="utf-8">

    <!-- Various Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color" content="#FFF">
    <meta name="theme-color" content="#FFF">
    <meta name="msapplication-TileColor" content="#FFF">
    <meta name="msapplication-navbutton-color" content="#FFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">

    <!---->
    <link id="favicon" rel='shortcut icon' href="{% static 'tms/favicon.ico' %}" type='image/x-icon' />

    <!-- Fonts and CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'tms/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600" rel="stylesheet">
</head>

<body>
    <nav id="sitenav">
        <a id="sitetitle" href="{% url 'tms:landing' %}">
            <h1>InFlux TMS</h1>
        </a>
        <small>
            {% if user.is_authenticated %}
            Hello, {{ user.first_and_given_name }}!
            <br>
            {% if user.instructor %}Instructor{% endif %}
            {% if user.student %}Student{% endif %}
            No. {{ user.user_id}}

            <form id="logoutform" method="POST" action="{% url 'tms:logout' %}">
                {% csrf_token %}
                <input type="submit" class="logout-button" value="Logout">
            </form>

            {% else %}
            <p>Welcome to InFlux TMS. Please log in.</p>
            {% endif %}
        </small>
    </nav>
    {% block main %}
    {% endblock %}

    <br />
    <br />
    <footer>
        <small>
            <a href="{% url 'tms:landing' %}">Home</a> &middot;
            <a href="{% url 'tms:info' %}">System Info</a>
            <br>
            <a target="_blank" href="https://ryanfleck.ca" rel="nofollow">Ryan Fleck</a> 2019 &middot; <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="nofollow">GPL-V3</a>

        </small>
    </footer>
</body>

</html>
