{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>InFlux</title>
    <meta charset="utf-8">

    <!-- Various Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color" content="#FFF">
    <meta name="theme-color" content="#FFF">
    <meta name="msapplication-TileColor" content="#FFF">
    <meta name="msapplication-navbutton-color" content="#FFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">

    <!---->
    <link rel='icon' href="{% static 'tms/favicon.ico' %}" type='image/x-icon'/>

    <!-- Fonts and CSS -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'tms/style.css' %}">
</head>

<body>
    <nav>
        <a id="sitetitle" href="{% url 'tms:landing' %}"><h1>InFlux TMS</h1></a>
        <small>
            {% if user.is_authenticated %}
            Hello, {{ user.first_and_given_name }}!
            <br> 
            {% if user.instructor %}Instructor{% endif %}
            {% if user.student %}Student No.{% endif %}
            {{ user.user_id}} 

            <form id="logoutform" method="POST" action="{% url 'tms:logout' %}">
                {% csrf_token %}
                <input type="submit" class="logout-button" value="Logout">
            </form>

            {% else %}
            <p>Welcome to InFlux TMS. Please log in.</p>
            {% endif %}
        </small>
    </nav>
    {% block main %}
    {% endblock %}
</body>

</html>
