{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>InFlux</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'tms/style.css' %}">
</head>

<body>
    <nav>
        <h1>InFlux TMS</h1>
        <small>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}!

            <form id="logoutform" method="POST" action="{% url 'tms:logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>

            {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'tms:landing' %}">login</a>
            {% endif %}
        </small>
    </nav>
    {% block main %}
    {% endblock %}
</body>

</html>
