{% extends "tms/base.html" %}
{% block main %}

<h1>Join Team in {{ section }}</h1>

<ol>
    {% for team in section.team_set.all %}
    <li><b><a href="{% url 'tms:teaminfo' team.id %}">{{ team.team_name }}</a></b>
        
        {% if team.student_set.count > 0 %}
 
        <br>Students:
        <ol>
            {% for student in team.student_set.all %}
            <li>{{ student.user.first_and_given_name }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <br>Empty team.

        {% endif %}

    </li>
    {% endfor %}
</ol>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Request to Join">
</form>

{% endblock %}
