{% extends "tms/base.html" %}
{% block main %}

<h1>{{course.course_code}}</h1>

{% if user.instructor %}
<b>Instructor Controls:</b>
<br><a href="{% url 'tms:coursesetup' course.id %}">Modify course settings</a>
<p>Team Parameters:
    <br>Min Team Size: {{ course.min_student_default }}
    <br>Max Team Size: {{ course.max_student_default }}
    <br>Team Creation Deadline: {{ course.creation_deadline_default }}
</p>
{% endif %}

<h3>All Students</h3>
<ol>
    {% for student in students %}
    <li>{{ student.user.first_and_given_name }}</li>
    {% endfor %}
</ol>

<h3>Students not in Teams</h3>
<ol>
    {% for student in students_not_in_teams %}
    <li>{{ student.user.first_and_given_name }}</li>
    {% endfor %}
</ol>

<h3>Students in Teams</h3>
<ol>
    {% for pair in student_team_pairs %}
    <li>{{ pair.student.user.first_and_given_name }} in team <a
            href="{% url 'tms:teaminfo' pair.team.id %}">{{ pair.team.team_name}}</a></li>
    {% endfor %}
</ol>

<h3>Sections, Teams, Students</h3>
<ol>
    {% for section in course.section_set.all %}
    <li>
        <a href="{% url 'tms:sectioninfo' section.id %}">{{ section }}</a>
        <ol>
            {% for team in section.team_set.all %}
            <li>
                <a href="{% url 'tms:teaminfo' team.id %}">{{ team }}</a>
        {% if team.student_set.count > 0 %}
                <ol>
                    {% for student in team.student_set.all %}
                    <li>{{student}}</li>
                    {% endfor %}
                </ol>
                {% else %}
                <br>Empty team.
                {% endif %}
            </li>
            {% endfor %}
        </ol>
        <br />
    </li>
    {% endfor %}
</ol>


{% endblock %}
