{% extends "tms/base.html" %}
{% block main %}

<h1>{{course.course_code}}</h1>

{% if user.instructor %}
<a href="{% url 'tms:coursesetup' course.id %}">Modify course settings</a>
{% endif %}

<h3>All Students</h3>
<ol>
    {% for student in students %}
    <li>{{ student.user.first_and_given_name }}</li>
    {% endfor %}
</ol>

<h3>Students not in Teams</h3>
<ol>
    {% for student in students_not_in_teams %}
    <li>{{ student.user.first_and_given_name }}</li>
    {% endfor %}
</ol>

<h3>Students in Teams</h3>
<ol>
    {% for pair in student_team_pairs %}
    <li>{{ pair.student.user.first_and_given_name }} in team {{ pair.team.team_name}}</li>
    {% endfor %}
</ol>

{% endblock %}
